<script>
    document
      .querySelectorAll('pre.highlight')
      .forEach(function (pre) {
        var button = document.createElement('button');
        var copybuttonHTML = '<img src="/assets/images/copy-icon.svg" alt="Copy" />'
        button.className = 'copy';
        button.type = 'button';
        button.ariaLabel = 'Copy code to clipboard';
        button.innerHTML = copybuttonHTML;
        button.addEventListener('click', function () {
          var code = pre.querySelector('code').innerText.trim();
          navigator.clipboard.writeText(code);
          button.innerHTML = 'Copied';
          setTimeout(function () {
            button.innerHTML = copybuttonHTML;
          }, 4000);
        });
        pre.appendChild(button);
      });
  </script>