---
---
// $primary: #aaaaaa;
// Import Main CSS file from theme

@import "main";

.pagination-link.is-current { background-color: $primary; border-color: $primary; }

p.published { font-size: smaller; text-align: right; }
p.card-footer-item { font-size: smaller; justify-content: start; }
header.card-header { box-shadow: none; }
div.card-content { padding: 0 1.5rem; }
footer.card-footer { border-top: none }

code { color: $grey-dark }

p.highlight {
    font-size: smaller;
    background: rgba(255, 235, 130, 0.2);
    border-left: 4px solid #e7af06;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
    padding: 0.8rem;
}

pre.highlight {
    font-size: smaller;
    background: whitesmoke;
    border-left: 4px solid $primary;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
    padding: 0.8rem;
}

.language-terminal pre.highlight { background-color: $grey-dark; color: whitesmoke; }
.language-terminal pre.highlight button { filter: invert(100%); }
.highlight .go { color: whitesmoke; }

.highlight .err { color: $grey-dark; background-color: whitesmoke; }
.highlight .hll { background-color: #ffffcc }
.highlight .nl { color: $grey-dark; }

pre.highlight {
    position: relative;
}

pre.highlight > button {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    border: 0;
    background-color: transparent;
    opacity: 0;
    padding: 0;
}

pre.highlight > button > img {
    width: 1rem;
}
  
pre.highlight:hover > button {
    opacity: 1;
}

pre.highlight > button:active,
pre.highlight > button:focus {
    opacity: 1;
}