---
---
// $primary: #aaaaaa;
// Import Main CSS file from theme

@import "main";

.pagination-link.is-current { background-color: $primary; border-color: $primary; }

p.published { font-size: smaller; text-align: right; }
p.card-footer-item { font-size: smaller; justify-content: start; }
header.card-header { box-shadow: none; }
div.card-content { padding: 0 1.5rem; }
footer.card-footer { border-top: none }
pre:has(code.language-term) { background-color: #4a4a4a; color: whitesmoke; }